.currentState {
    background: black;
    color: white;
}

* {
    text-align: center;
}

body {
    /* Set a font size */
    height: 100vh;
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: lightgray;
}

.container {
    padding-left: 50px;
    border-radius: 15px;
    position: relative;
    width: 500px;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* Begin The Redundancies */
    background-image: -webkit-linear-gradient(0deg, transparent 5em, rgba(255, 0, 0, .2) 0, transparent 5.1em), -webkit-linear-gradient(rgba(0, 0, 255, .3) 1px, transparent 0);
    background-image: -ms-linear-gradient(0deg, transparent 5em, rgba(255, 0, 0, .2) 0, transparent 5.1em), -ms-linear-gradient(rgba(0, 0, 255, .3) 1px, transparent 0);
    -webkit-background-size: 100% 2em;
    -moz-background-size: 100% 2em;
    /* In a perfect world... */
    background-image: -webkit-linear-gradient(bottom, transparent 5em, rgba(255, 255, 255, .5) 0, transparent 5.1em), -webkit-linear-gradient(rgba(0, 0, 255, .3) 1px, transparent 0);
    background-image: linear-gradient(0deg, transparent 5em, rgba(255, 255, 255, .5) 0, transparent 5.1em), linear-gradient(rgba(0, 0, 255, .3) 1px, transparent 0);
    background-size: 100% 2em;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, .3);
}

.container:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: red;
    top: 0;
    -webkit-transform: translateX(-220px);
    transform: translateX(-220px);
    opacity: .5;
}

h1, h2 {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

.newTodoForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

button, .updateBtn {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: 0;
    text-decoration: underline;
}

ul {
    position: relative;
    top: 5px;
}

li {
    margin-bottom: 7px;
}

input::-webkit-input-placeholder {
    font-family: 'Indie Flower', cursive;
}

.strike {
    text-decoration: line-through;
    color: grey!important;
}

.checkBox {
    border: 5px solid black;
    outline: none;
}

.deleteBtn {
    position: relative;
}

.deleteBtn:after {
    content: 'Delete Todo';
    width: 50px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    visibility: collapse;
    opacity: 0;
    margin-left: 5px;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear
}

.deleteBtn:hover:after {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear
}

.editBtn {
    position: relative;
    font-size: 1.4em;
    left: 0;
    -webkit-transition: left .2s linear;
    transition: left .2s linear;
}

.deleteBtn:hover+.editBtn {
    left: 50px;
    -webkit-transition: left .2s linear;
    transition: left .2s linear;
}

.newToDoPlus {
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.newToDoPlus span {
    font-size: .7em;
    text-decoration: underline;
}

a, a:visited {
    color: #000;
    text-decoration: none;
}

.showPinline {
    display: inline-block;
    margin-left: 10px;
    font-size: .8em;
}

.green {
    color: green;
    font-weight: bold;
}

.blue {
    color: blue;
}

strong {
    text-decoration: underline;
    display: block;
}

section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
