<h2>Edit Todo</h2>

<section ng-init="todo.getTodo()">

  <form ng-submit="todo.updateTodo()">

    <div>
      <label for="new-todo-title"><strong>ToDo</strong></label>
      <input
        type="text"
        id="new-todo-title"
        placeholder="{{todo.selectedTodo.todo.title}}"
        ng-model="todo.selectedTodo.todo.title">
    </div>

    <div>
      <label for="new-todo-description"><strong>Description</strong></label>
      <input
        type="text"
        id="new-todo-description"
        placeholder="London..."
        ng-model="todo.selectedTodo.todo.desc">
    </div>


    <div>
      <label for="new-todo-type"><strong>Type</strong></label>

      <label for="new-todo-type-true">Work</label>
      <input
        type="radio" value="Work"
        id="new-todo-type-true"
        placeholder="London..."
        ng-model="todo.selectedTodo.todo.type">

        <label for="new-todo-type-false">Personal</label>
        <input
          type="radio" value="Personal"
          id="new-todo-type-false"
          placeholder="London..."
          ng-model="todo.selectedTodo.todo.type">
    </div>

    <div>
      <label for="new-todo-isComplete"><strong>Complete</strong></label>
      <label for="new-todo-true">Yes</label>
      <input
        type="radio" value="true"
        id="new-todo-true"
        placeholder="London..."
        ng-model="todo.selectedTodo.todo.isComplete">
        <label for="new-todo-false">No</label>

        <input
          type="radio" value="false"
          id="new-todo-false"
          placeholder="London..."
          ng-model="todo.selectedTodo.todo.isComplete">
    </div>

    <div>
      <input class="updateBtn" type="submit" value="Update">
      <a ui-sref="home" class="underline">Back</a>
    </div>


  </form>

</section>
