<h2 ng-if="todo.allTodos.length > 0">All To-Do</h2>

<ol >
  <li class="todo" ng-repeat="todoOne in todo.allTodos">
    <div>
      <a ui-sref="show({todoId : todoOne._id})" ng-class="{true: 'strike', false: ''}[todoOne.isComplete === true]">

        {{ todoOne.title }}</a>
        <p class="showPinline"
        ng-class="{true: 'green', false: 'blue'}[todoOne.type === 'Work']">
         - {{ todoOne.type }}</p>

      <button type="button" class="deleteBtn"
        ng-click="todo.deleteTodo(todoOne._id)">X
      </button>

    </div>
  </li>
</ol>
<a ui-sref="new" class="newToDoPlus">+ <span>New To-Do</span></a>

<!-- ng-click="todo.completeTodo(d._id)" -->
