<h2>All Todos</h2>

<ul >
  <li class="todo" ng-repeat="todoOne in todo.allTodos">
    <div>
      <a ui-sref="show({todoId : todoOne._id})" ng-class="{true: 'strike', false: ''}[todoOne.isComplete === true]">

        {{ todoOne.title }}</a>

      <button ng-click="todo.editTodo(todoOne._id)" type="button" class="editBtn">Edit Todo</button>
      <button type="button">Complete</button>
      <button ng-click="todo.deleteTodo(todoOne._id)" type="button" class="deleteBtn">X</button>

    </div>
  </li>
</ul>
<a ui-sref="new" class="newToDoPlus">+</a>

<!-- ng-click="todo.completeTodo(d._id)" -->
