<h2>New Todo</h2>

<form ng-submit="todo.addTodo()">

  <div>
    <label for="new-todo-name">ToDo Title:</label>
    <input
      type="text"
      id="new-todo-name"
      placeholder="Enter New Todo Title"
      ng-model="todo.newTodo.title">
  </div>

  <div>
    <label for="new-todo-desc">Description:</label>
    <input
      type="text"
      id="new-todo-desc"
      placeholder="Enter A Description For Your Todo"
      ng-model="todo.newTodo.desc">
  </div>



  <div>
    <input type="submit" value="Add Todo" >
  </div>

</form>
