<h2>New Todo</h2>

<form ng-submit="todo.addTodo()">

  <div>
    <label for="new-todo-name"><strong>Title:</strong></label>
    <input
      type="text"
      id="new-todo-name"
      placeholder="Enter New Todo Title"
      ng-model="todo.newTodo.title">
  </div>

  <div>
    <label for="new-todo-desc"><strong>Description:</strong></label>
    <input
      type="text"
      id="new-todo-desc"
      placeholder="Enter A Description For Your Todo"
      ng-model="todo.newTodo.desc">
  </div>

  <div>
    <label for="new-todo-type"><strong>Type</strong></label>

    <label for="new-todo-type-true">Work</label>
    <input
      type="radio" value="Work"
      id="new-todo-type-true"
      placeholder="London..."
      ng-model="todo.newTodo.type">

      <label for="new-todo-type-false">Personal</label>
      <input
        type="radio" value="Personal"
        id="new-todo-type-false"
        placeholder="London..."
        ng-model="todo.newTodo.type">
  </div>



  <div>
    <input type="submit" value="Add Todo" >
  </div>
  <a ui-sref="home" class="underline">Back</a>
</form>
