<h2>New Todo</h2>

<form ng-submit="todo.addTodo()">

  <div>
    <label for="new-todo-name">Name:</label>
    <input
      type="text"
      id="new-todo-name"
      placeholder="Jack the ripper..."
      ng-model="todo.newTodo.name">
  </div>

  <div>
    <label for="new-todo-location">Location:</label>
    <input
      type="text"
      id="new-todo-location"
      placeholder="London..."
      ng-model="todo.newTodo.location">
  </div>

  <div>
    <label for="new-todo-desc">Description:</label>
    <input
      type="text"
      id="new-todo-desc"
      placeholder="Very Smelly..."
      ng-model="todo.newTodo.desc">
  </div>

  <div>
    <label for="new-todo-color">Color</label>

    <select id="new-todo-color" ng-model="todo.newTodo.color">

      <option
        ng-repeat="option in todo.colors"
        value="{{ option }}">{{ option }}
      </option>

    </select>
  </div>


  <div>
    <input type="submit" value="Add Todo" >
  </div>

</form>
